img/Analisis/DiagramaProcesos/.$DiagramaProceso01_Captura Parámetros.drawio.bkp
img/Diseño/.$Arquitectura.drawio.bkp
secciones/01-introduccion.aux
secciones/02-EstadoDelArte.aux
secciones/03-MarcoTeorico.aux
secciones/04-Planeacion.aux
secciones/05-Analisis.aux
secciones/06-Design.aux
slide.aux
slide.bbl
slide.blg
slide.log
slide.nav
slide.out
slide-blx.bib
slide.run.xml
slide.snm
slide.toc
secciones/07-conclusion.aux
anexos/A-comparativas.aux
anexos/B-Diagramas.aux
anexos/C-AG.aux
anexos/D-Calendario.aux
secciones/06-Familiarizacion.aux
secciones/07-conclusion.aux
secciones/07-conclusion.tex
secciones/06-Familiarizacion.aux
secciones/07-conclusion.aux
